<div class="login-wrapper">
  <div class="loginbox">
    <div class="login-auth">
      <div class="login-auth-wrap">
        <div class="sign-group">
          <a [routerLink]="routes.home" class="btn sign-up"
            ><span
              ><i class="feather icon-corner-down-left" aria-hidden="true"></i
            ></span>
            Back To Home</a
          >
        </div>
        <h1>Forgot Password</h1>
        <p class="account-subtitle">
          Enter your email and we will send you a link to reset your password.
        </p>
        <form [formGroup]="form" (ngSubmit)="forgotPassword()">
          <div class="form-group">
            <label class="form-label"
              >Email Address <span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control"
              placeholder=""
              formControlName="email"
              placeholder=""
              [ngClass]="{
                'is-invalid': f['email'].touched && f['email'].invalid
              }"
            />
            <div
              *ngIf="f['email'].touched && f['email'].invalid"
              class="invalid-feedback"
            >
              <div *ngIf="f['email'].errors && f['email'].errors['required']">
                Email is required.
              </div>
              <div *ngIf="f['email'].errors && f['email'].errors['email']">
                Please, enter valid email address.
              </div>
            </div>
          </div>

          <button
            (click)="direction()"
            class="btn btn-outline-light w-100 btn-size"
            type="submit"
          >
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
