		<!-- Banner -->
		<section class="banner-section banner-slider">		
			<div class="container">
			   	<div class="home-banner">		
				   <div class="row align-items-center">					    
					   	<div class="col-lg-6" data-aos="fade-down">
							<p class="explore-text"> <span><i class="fa-solid fa-thumbs-up me-2"></i></span>100% Trusted car rental platform in the World</p>
							<h1>Find Your Best <br>									
							<span>Dream Car for Rental</span></h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
							<div class="view-all">
								<a [routerLink]="routes.listingGrid" class="btn btn-view d-inline-flex align-items-center">View all Cars <span><i class="feather icon-arrow-right ms-2"></i></span></a>
							</div>
					   	</div>
					   	<div class="col-lg-6" data-aos="fade-down">
						   	<div class="banner-imgs">
								<img src="assets/img/car-right.png" class="img-fluid aos" alt="bannerimage">							
						   	</div>
					   	</div>
				   	</div>
			   	</div>	
		   	</div>
		</section>
	   	<!-- /Banner -->
		
		<!-- Search -->	
		<div class="section-search"> 
			<div class="container">	  
				<div class="search-box-banner">
					<form>
						<ul class="align-items-center">
							<li class="column-group-main">
								<div class="form-group">
									<label>Pickup Location</label>												
									<div class="group-img">
										<input type="text" class="form-control" placeholder="Enter City, Airport, or Address">
										<span><i class="feather icon-map-pin"></i></span>
									</div>
								</div>
							</li>
							<li class="column-group-main">						
								<div class="form-group">																	
									<label>Pickup Date</label>
								</div>
								<div class="form-group-wrapp">
									<div class="form-group date-widget">												
										<div class="group-img">
										<input type="text" class="form-control datetimepicker" placeholder="04/11/2023" matInput [matDatepicker]="picker1">
										<mat-datepicker #picker1></mat-datepicker>
										<mat-datepicker-toggle matIconSuffix [for]="picker1" class="datepicker-icon">
											<mat-icon matDatepickerToggleIcon>
											  <span>
												<i class="feather icon-calendar cus-icon-calender"></i>
											  </span>
											</mat-icon>
										  </mat-datepicker-toggle>
										</div>
									</div>
									<div class="form-group time-widge">											
										<div class="group-img">
										<input type="text" class="form-control timepicker" placeholder="11:00 AM" [ngxTimepicker]="default1">
										<ngx-material-timepicker #default1></ngx-material-timepicker>
										<span><i class="feather icon-clock clock-icon"></i></span>
										</div>
									</div>
								</div>	
							</li>
							<li class="column-group-main">						
								<div class="form-group">																	
									<label>Return Date</label>
								</div>
								<div class="form-group-wrapp">
									<div class="form-group date-widge">												
										<div class="group-img">
											<input type="text" class="form-control datetimepicker" placeholder="04/11/2023" matInput [matDatepicker]="picker2">
											<mat-datepicker #picker2></mat-datepicker>
											<mat-datepicker-toggle matIconSuffix [for]="picker2" class="datepicker-icon">
												<mat-icon matDatepickerToggleIcon>
												  <span>
													<i class="feather icon-calendar cus-icon-calender"></i>
												  </span>
												</mat-icon>
											  </mat-datepicker-toggle>
										</div>
									</div>
									<div class="form-group time-widge">											
										<div class="group-img">
										<input type="text" class="form-control timepicker" placeholder="11:00 AM" [ngxTimepicker]="default2">
										<ngx-material-timepicker #default2></ngx-material-timepicker>
										<span><i class="feather icon-clock clock-icon"></i></span>
										</div>
									</div>
								</div>	
							</li>
							<li class="column-group-last">
								<div class="form-group">
									<div class="search-btn">
										<button class="btn search-button" type="submit" [routerLink]="routes.listingGrid"> <i class="fa fa-search" aria-hidden="true"></i>Search</button>
									</div>
								</div>
							</li>
						</ul>
					</form>	
				</div>
			</div>	
		</div>	
		<!-- /Search -->

		<!-- services -->
		<section class="section services">
			<div class="service-right">
				<img src="assets/img/bg/service-right.svg" class="img-fluid" alt="services right">
			</div>		
			<div class="container">	
				<!-- Heading title-->
				<div class="section-heading" data-aos="fade-down">
					<h2>How It Works</h2>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="services-work">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
							<div class="services-group">
								<div class="services-icon border-secondary">
									<img class="icon-img bg-secondary" src="assets/img/icons/services-icon-01.svg" alt="Choose Locations">
								</div>
								<div class="services-content">
									<h3>1. Choose Locations</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
							<div class="services-group">
								<div class="services-icon border-warning">
									<img class="icon-img bg-warning" src="assets/img/icons/services-icon-01.svg" alt="Choose Locations">
								</div>
								<div class="services-content">
									<h3>2. Pick-Up Locations</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
							<div class="services-group">
								<div class="services-icon border-dark">
									<img class="icon-img bg-dark" src="assets/img/icons/services-icon-01.svg" alt="Choose Locations">
								</div>
								<div class="services-content">
									<h3>3. Book your Car</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /services -->

		<!-- Popular Services -->
		<section class="section popular-services popular-explore">		
			<div class="container">	
				<!-- Heading title-->
				<div class="section-heading" data-aos="fade-down">
					<h2>Explore Most Popular Cars</h2>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="row justify-content-center">
					<div class="col-lg-12" data-aos="fade-down">
						<div class="listing-tabs-group">
							<ul class="nav listing-buttons gap-3" data-bs-tabs="tabs">
								<li>
									<a class="active" aria-current="true" data-bs-toggle="tab" href="#Carmazda">
										<span>
											<img src="assets/img/icons/car-icon-01.svg" alt="Mazda">
										</span>
										Mazda
									</a>
								</li>
								<li>
									<a data-bs-toggle="tab" href="#Caraudi">
										<span>
											<img src="assets/img/icons/car-icon-02.svg" alt="Audi">
										</span>
										Audi
									</a>
								</li>
								<li>
									<a data-bs-toggle="tab" href="#Carhonda">
										<span>
											<img src="assets/img/icons/car-icon-03.svg" alt="Honda">
										</span>
										Honda
									</a>
								</li>
								<li>
									<a data-bs-toggle="tab" href="#Cartoyota">
										<span>
											<img src="assets/img/icons/car-icon-04.svg" alt="Toyota">
										</span>
										Toyota
									</a>
								</li>
								<li>
									<a data-bs-toggle="tab" href="#Caracura">
										<span>
											<img src="assets/img/icons/car-icon-05.svg" alt="Acura">
										</span>
										Acura 
									</a>
								</li>
								<li>
									<a data-bs-toggle="tab" href="#Cartesla">
										<span>
											<img src="assets/img/icons/car-icon-06.svg" alt="Tesla">
										</span>
										Tesla 
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
								
				<div class="tab-content">
					<div class="tab-pane active" id="Carmazda">	
						<div class="row">
							<!-- col -->
							<div class="col-lg-4 col-md-6 col-12" data-aos="fade-down" *ngFor = "let data of popularCars1">
								<div class="listing-item">										
									<div class="listing-img">
										<a [routerLink]="routes.listingDetails">
											<img [src]="data.img1" class="img-fluid" alt="Toyota">
										</a>
										<div class="fav-item">
											<span class="featured-text">{{data.carName}}</span>
											<a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
												<i class="feather icon-heart"></i>
											</a>										
										</div>	
									</div>										
									<div class="listing-content">
										<div class="listing-features">
											<a href="javascript:void(0)" class="author-img">
												<img [src]="data.img2" alt="author">
											</a>
											<h3 class="listing-title">
												<a [routerLink]="routes.listingDetails">{{data.carModel}}</a>
											</h3>																	  
											<div class="list-rating">							
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span>{{data.rating}}</span>
											</div>
										</div> 
										<div class="listing-details-group">
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-01.svg" alt="Auto"></span>
													<p>{{data.carDetail1}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-02.svg" alt="10 KM"></span>
													<p>{{data.carDetail2}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-03.svg" alt="Petrol"></span>
													<p>{{data.carDetail3}}</p>
												</li>
											</ul>	
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-04.svg" alt="Power"></span>
													<p>{{data.carDetail4}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="2018"></span>
													<p>{{data.carDetail5}}</p>	
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-06.svg" alt="Persons"></span>
													<p>{{data.carDetail6}}</p>
												</li>
											</ul>
										</div>																 
										<div class="listing-location-details">
											<div class="listing-price">
												<span><i class="feather icon-map-pin"></i></span>{{data.country}}
											</div>
											<div class="listing-price">
												<h6>{{data.price}} <span>{{data.heading}}</span></h6>
											</div>
										</div>
										<div class="listing-button">
											<a [routerLink]="routes.listingDetails" class="btn btn-order"><span><i class="feather icon-calendar me-2"></i></span>{{data.text}}</a>
										</div>	
									</div>
								</div>		 
							</div>
							<!-- /col -->
						</div>						
					</div>
					<div class="tab-pane fade" id="Caraudi">	
						<div class="row">
							<!-- col -->
							<div class="col-lg-4 col-md-6 col-12" data-aos="fade-down" *ngFor = "let data of popularCars2">
								<div class="listing-item">											
									<div class="listing-img">
										<a [routerLink]="routes.listingDetails">
											<img [src]="data.img1" class="img-fluid" alt="Audi">
										</a>
										<div class="fav-item">
											<span class="featured-text">{{data.carName}}</span>
											<a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
												<i class="feather icon-heart"></i>
											</a>										
										</div>	
									</div>										
									<div class="listing-content">
										<div class="listing-features">
											<a href="javascript:void(0)" class="author-img">
												<img [src]="data.img2" alt="author">
											</a>
											<h3 class="listing-title">
												<a [routerLink]="routes.listingDetails">{{data.carModel}}</a>
											</h3>																	  
											<div class="list-rating">							
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span>{{data.rating}}</span>
											</div>
										</div> 
										<div class="listing-details-group">
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="Manual"></span>
													<p>{{data.carDetail1}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-02.svg" alt="10 KM"></span>
													<p>{{data.carDetail2}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-03.svg" alt="Petrol"></span>
													<p>{{data.carDetail3}}</p>
												</li>
											</ul>	
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-04.svg" alt="Power"></span>
													<p>{{data.carDetail4}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="2019"></span>
													<p>{{data.carDetail5}}</p>	
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-06.svg" alt="Persons"></span>
													<p>{{data.carDetail6}}</p>
												</li>
											</ul>
										</div>																 
										<div class="listing-location-details">
											<div class="listing-price">
												<span><i class="feather icon-map-pin"></i></span>{{data.country}}
											</div>
											<div class="listing-price">
												<h6>{{data.price}} <span>{{data.heading}}</span></h6>
											</div>
										</div>
										<div class="listing-button">
											<a [routerLink]="routes.listingDetails" class="btn btn-order"><span><i class="feather icon-calendar me-2"></i></span>{{data.text}}</a>
										</div>	
									</div>
								</div>			 
							</div>
							<!-- /col -->
						</div>						
					</div>
					<div class="tab-pane fade" id="Carhonda">	
						<div class="row">	
							<!-- col -->	
							<div class="col-lg-4 col-md-6 col-12" data-aos="fade-down" *ngFor = "let data of popularCars3">
								<div class="listing-item">											
									<div class="listing-img">
										<a [routerLink]="routes.listingDetails">
											<img [src]="data.img1" class="img-fluid" alt="Toyota">
										</a>
										<div class="fav-item">
											<span class="featured-text">{{data.carName}}</span>
											<a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
												<i class="feather icon-heart"></i>
											</a>										
										</div>	
									</div>										
									<div class="listing-content">
										<div class="listing-features">
											<a href="javascript:void(0)" class="author-img">
												<img [src]="data.img2" alt="author">
											</a>
											<h3 class="listing-title">
												<a [routerLink]="routes.listingDetails">{{data.carModel}}</a>
											</h3>																	  
											<div class="list-rating">							
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span>{{data.rating}}</span>
											</div>
										</div> 
										<div class="listing-details-group">
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-01.svg" alt="Auto"></span>
													<p>{{data.carDetail1}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-02.svg" alt="22 miles"></span>
													<p>{{data.carDetail2}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-03.svg" alt="Diesel"></span>
													<p>{{data.carDetail3}}</p>
												</li>
											</ul>	
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-04.svg" alt="Power"></span>
													<p>{{data.carDetail4}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="2019"></span>
													<p>{{data.carDetail5}}</p>	
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-06.svg" alt="Persons"></span>
													<p>{{data.carDetail6}}</p>
												</li>
											</ul>
										</div>																 
										<div class="listing-location-details">
											<div class="listing-price">
												<span><i class="feather icon-map-pin"></i></span>{{data.country}}
											</div>
											<div class="listing-price">
												<h6>{{data.price}} <span>{{data.heading}}</span></h6>
											</div>
										</div>
										<div class="listing-button">
											<a [routerLink]="routes.listingDetails" class="btn btn-order"><span><i class="feather icon-calendar me-2"></i></span>{{data.text}}</a>
										</div>	
									</div>
								</div>			 
							</div>
							<!-- /col -->
						</div>						
					</div>
					<div class="tab-pane fade" id="Cartoyota">	
						<div class="row">
							<!-- col -->
							<div class="col-lg-4 col-md-6 col-12" data-aos="fade-down" *ngFor = "let data of popularCars4">
								<div class="listing-item">											
									<div class="listing-img">
										<a [routerLink]="routes.listingDetails">
											<img [src]="data.img1" class="img-fluid" alt="Toyota">
										</a>
										<div class="fav-item">
											<span class="featured-text">{{data.carName}}</span>
											<a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
												<i class="feather icon-heart"></i>
											</a>										
										</div>	
									</div>										
									<div class="listing-content">
										<div class="listing-features">
											<a href="javascript:void(0)" class="author-img">
												<img [src]="data.img2" alt="author">
											</a>
											<h3 class="listing-title">
												<a [routerLink]="routes.listingDetails">{{data.carModel}}</a>
											</h3>																	  
											<div class="list-rating">							
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span>{{data.rating}}</span>
											</div>
										</div> 
										<div class="listing-details-group">
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-01.svg" alt="Auto"></span>
													<p>{{data.carDetail1}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-02.svg" alt="10 KM"></span>
													<p>{{data.carDetail2}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-03.svg" alt="Petrol"></span>
													<p>{{data.carDetail3}}</p>
												</li>
											</ul>	
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-04.svg" alt="Power"></span>
													<p>{{data.carDetail4}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="2018"></span>
													<p>{{data.carDetail5}}</p>	
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-06.svg" alt="Persons"></span>
													<p>{{data.carDetail6}}</p>
												</li>
											</ul>
										</div>																 
										<div class="listing-location-details">
											<div class="listing-price">
												<span><i class="feather icon-map-pin"></i></span>{{data.country}}
											</div>
											<div class="listing-price">
												<h6>{{data.price}} <span>{{data.heading}}</span></h6>
											</div>
										</div>
										<div class="listing-button">
											<a [routerLink]="routes.listingDetails" class="btn btn-order"><span><i class="feather icon-calendar me-2"></i></span>{{data.text}}</a>
										</div>	
									</div>
								</div>			 
							</div>
							<!-- /col -->
						</div>						
					</div>
					<div class="tab-pane fade" id="Caracura">	
						<div class="row">
							<!-- col -->
							<div class="col-lg-4 col-md-6 col-12" data-aos="fade-down" *ngFor = "let data of popularCars5">
								<div class="listing-item">											
									<div class="listing-img">
										<a [routerLink]="routes.listingDetails">
											<img [src]="data.img1" class="img-fluid" alt="Toyota">
										</a>
										<div class="fav-item">
											<span class="featured-text">{{data.carName}}</span>
											<a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
												<i class="feather icon-heart"></i>
											</a>										
										</div>	
									</div>										
									<div class="listing-content">
										<div class="listing-features">
											<a href="javascript:void(0)" class="author-img">
												<img [src]="data.img2" alt="author">
											</a>
											<h3 class="listing-title">
												<a [routerLink]="routes.listingDetails">{{data.carModel}}</a>
											</h3>																  
											<div class="list-rating">							
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span>{{data.rating}}</span>
											</div>
										</div> 
										<div class="listing-details-group">
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-01.svg" alt="Auto"></span>
													<p>{{data.carDetail1}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-02.svg" alt="10 KM"></span>
													<p>{{data.carDetail2}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-03.svg" alt="Petrol"></span>
													<p>{{data.carDetail3}}</p>
												</li>
											</ul>	
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-04.svg" alt="Power"></span>
													<p>{{data.carDetail4}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="2018"></span>
													<p>{{data.carDetail5}}</p>	
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-06.svg" alt="Persons"></span>
													<p>{{data.carDetail6}}</p>
												</li>
											</ul>
										</div>																 
										<div class="listing-location-details">
											<div class="listing-price">
												<span><i class="feather icon-map-pin"></i></span>{{data.country}}
											</div>
											<div class="listing-price">
												<h6>{{data.price}} <span>{{data.heading}}</span></h6>
											</div>
										</div>
										<div class="listing-button">
											<a [routerLink]="routes.listingDetails" class="btn btn-order"><span><i class="feather icon-calendar me-2"></i></span>{{data.text}}</a>
										</div>	
									</div>
								</div>			 
							</div>
							<!-- /col -->
						</div>						
					</div>
					<div class="tab-pane fade" id="Cartesla">	
						<div class="row">	
							<!-- col -->	
							<div class="col-lg-4 col-md-6 col-12" data-aos="fade-down" *ngFor = "let data of popularCars6">
								<div class="listing-item">											
									<div class="listing-img">
										<a [routerLink]="routes.listingDetails">
											<img [src]="data.img1" class="img-fluid" alt="Toyota">
										</a>
										<div class="fav-item">
											<span class="featured-text">{{data.carName}}</span>
											<a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
												<i class="feather icon-heart"></i>
											</a>										
										</div>	
									</div>										
									<div class="listing-content">
										<div class="listing-features">
											<a href="javascript:void(0)" class="author-img">
												<img [src]="data.img2" alt="author">
											</a>
											<h3 class="listing-title">
												<a [routerLink]="routes.listingDetails">Toyota Tacoma 4WD</a>
											</h3>																	  
											<div class="list-rating">							
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span>{{data.rating}}</span>
											</div>
										</div> 
										<div class="listing-details-group">
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-01.svg" alt="Auto"></span>
													<p>{{data.carDetail1}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-02.svg" alt="22 miles"></span>
													<p>{{data.carDetail2}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-03.svg" alt="Diesel"></span>
													<p>{{data.carDetail3}}</p>
												</li>
											</ul>	
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-04.svg" alt="Power"></span>
													<p>{{data.carDetail4}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="2019"></span>
													<p>{{data.carDetail5}}</p>	
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-06.svg" alt="Persons"></span>
													<p>{{data.carDetail6}}</p>
												</li>
											</ul>
										</div>																 
										<div class="listing-location-details">
											<div class="listing-price">
												<span><i class="feather icon-map-pin"></i></span>{{data.country}}
											</div>
											<div class="listing-price">
												<h6>{{data.price}} <span>{{data.heading}}</span></h6>
											</div>
										</div>
										<div class="listing-button">
											<a [routerLink]="routes.listingDetails" class="btn btn-order"><span><i class="feather icon-calendar me-2"></i></span>{{data.text}}</a>
										</div>	
									</div>
								</div>			 
							</div>
							<!-- /col -->
						</div>						
					</div>
				</div>
			</div>
		</section>
		<!-- /Popular Services -->

		<!-- Popular Cartypes -->
		<section class="section popular-car-type">
			<div class="container">
				<!-- Heading title-->
				<div class="section-heading"  data-aos="fade-down">
					<h2>Most Popular Cartypes</h2>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="row">
			        <div class="popular-slider-group">
			        	<div class="popular-cartype-slider owl-theme">
							<!-- owl carousel item -->
							<owl-carousel-o [options]="carTypesOptions">
								<ng-container *ngFor="let data of carTypes">
								  <ng-template carouselSlide>
						    <div class="listing-owl-item">
							    <div class="listing-owl-group">
								    <div class="listing-owl-img">
								        <img [src]="data.img" class="img-fluid" alt="Popular Cartypes">
									</div>
									<h6>{{data.heading}}</h6>
									<p>{{data.cars}}</p>								
								</div>
							</div>
						</ng-template>
					</ng-container>
				  </owl-carousel-o>
							<!-- /owl carousel item -->
						</div>	
					</div>
				</div>
				<!-- View More -->
				<div class="view-all text-center" data-aos="fade-down">
					<a [routerLink]="routes.listingGrid" class="btn btn-view d-inline-flex align-items-center">View all Cars <span><i class="feather icon-arrow-right ms-2"></i></span></a>
				</div>
				<!-- View More -->
			</div>
		</section>
		<!-- /Popular Cartypes -->

		<!-- Facts By The Numbers -->
		<section class="section facts-number">
			<div class="facts-left">
				<img src="assets/img/bg/facts-left.png" class="img-fluid" alt="facts left">
			</div>
			<div class="facts-right">
				<img src="assets/img/bg/facts-right.png" class="img-fluid" alt="facts right">
			</div>
			<div class="container">
				<!-- Heading title-->
				<div class="section-heading" data-aos="fade-down">
					<h2 class="title text-white">Facts By The Numbers</h2>
					<p class="description text-white">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="counter-group">
			        <div class="row">
						<div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
							<div class="count-group flex-fill">
								<div class="customer-count d-flex align-items-center">
									<div class="count-img">
										<img src="assets/img/icons/bx-heart.svg" alt="">
									</div>
									<div class="count-content">
										<h4><span [countUp]="16" [options]="{duration: 10}" class="counterUp">16</span>K+</h4>
										<p>Happy Customers</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
							<div class="count-group flex-fill">
								<div class="customer-count d-flex align-items-center">
									<div class="count-img">
										<img src="assets/img/icons/bx-car.svg" alt="">
									</div>
									<div class="count-content">
										<h4><span [countUp]="2547" [options]="{duration: 10}" class="counterUp">2547</span>+</h4>
										<p>Count of Cars</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
							<div class="count-group flex-fill">
								<div class="customer-count d-flex align-items-center">
									<div class="count-img">
										<img src="assets/img/icons/bx-headphone.svg" alt="">
									</div>
									<div class="count-content">
										<h4><span [countUp]="625" [options]="{duration: 10}" class="counterUp">625</span>K+</h4>
										<p>Car Center Solutions</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
							<div class="count-group flex-fill">
								<div class="customer-count d-flex align-items-center">
									<div class="count-img">
										<img src="assets/img/icons/bx-history.svg" alt="">
									</div>
									<div class="count-content">
										<h4><span [countUp]="200" [options]="{duration: 10}" class="counterUp">200</span>K+</h4>
										<p>Total Kilometer</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Facts By The Numbers -->

		<!-- Rental deals -->
		<section class="section popular-services">
			<div class="container">
				<!-- Heading title-->
				<div class="section-heading"  data-aos="fade-down">
					<h2>Recommended Car Rental deals</h2>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="row">
			        <div class="popular-slider-group">
			        	<div class="rental-deal-slider">
							<!-- owl carousel item -->
							<owl-carousel-o [options]="recommendedCarOptions">
								<ng-container *ngFor="let data of recommendedCar">
								  <ng-template carouselSlide>
						    <div class="rental-car-item">
								<div class="listing-item mb-0">										
									<div class="listing-img">
										<a [routerLink]="routes.listingDetails">
											<img [src]="data.img" class="img-fluid" alt="Toyota">
										</a>
									</div>										
									<div class="listing-content">
										<div class="listing-features">												
											<div class="fav-item-rental">
												<span class="featured-text">{{data.text}}</span>									
											</div>																  
											<div class="list-rating">							
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span>(5.0)</span>
											</div>													
											<h3 class="listing-title">
												<a [routerLink]="routes.listingDetails">{{data.carModel}}</a>
											</h3>
											<h6>{{data.heading}} : <span>{{data.name}}</span></h6>	
										</div> 
										<div class="listing-details-group">
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-01.svg" alt="Auto"></span>
													<p>{{data.carDetail1}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-02.svg" alt="10 KM"></span>
													<p>{{data.carDetail2}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-03.svg" alt="Petrol"></span>
													<p>{{data.carDetail3}}</p>
												</li>
											</ul>	
											<ul>
												<li>
													<span><img src="assets/img/icons/car-parts-04.svg" alt="Power"></span>
													<p>{{data.carDetail4}}</p>
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-05.svg" alt="2018"></span>
													<p>{{data.carDetail5}}</p>	
												</li>
												<li>
													<span><img src="assets/img/icons/car-parts-06.svg" alt="Persons"></span>
													<p>{{data.carDetail6}}</p>
												</li>
											</ul>
										</div>
										<div class="listing-button">
											<a [routerLink]="routes.listingDetails" class="btn btn-order"><span><i class="feather icon-calendar me-2"></i></span>{{data.title}}</a>
										</div>	
									</div>
								</div>
							</div>
						</ng-template>
					</ng-container>
				  </owl-carousel-o>
							<!-- /owl carousel item -->
						</div>	
					</div>
				</div>
				<!-- View More -->
				<div class="view-all text-center" data-aos="fade-down">
					<a [routerLink]="routes.listingGrid" class="btn btn-view d-inline-flex align-items-center">Go to all Cars <span><i class="feather icon-arrow-right ms-2"></i></span></a>
				</div>
				<!-- View More -->
			</div>
		</section>
		<!-- /Rental deals -->

		<!-- Why Choose Us -->
		<section class="section why-choose popular-explore">
			<div class="choose-left">
				<img src="assets/img/bg/choose-left.png" class="img-fluid" alt="Why Choose Us">
			</div>		
			<div class="container">	
				<!-- Heading title-->
				<div class="section-heading" data-aos="fade-down">
					<h2>Why Choose Us</h2>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="why-choose-group">
			        <div class="row">
						<div class="col-lg-4 col-md-6 col-12 d-flex" data-aos="fade-down">
							<div class="card flex-fill">
								<div class="card-body">
									<div class="choose-img choose-black">
										<img src="assets/img/icons/bx-user-check.svg" alt="">
									</div>
									<div class="choose-content">
										<h4>Easy & Fast Booking</h4>
										<p>Completely carinate e business testing process whereas fully researched customer service. Globally extensive content with quality.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 d-flex" data-aos="fade-down">
							<div class="card flex-fill">
								<div class="card-body">
									<div class="choose-img choose-secondary">
										<img src="assets/img/icons/bx-user-check.svg" alt="">
									</div>
									<div class="choose-content">
										<h4>Many Pickup Location</h4>
										<p>Enthusiastically magnetic initiatives with cross-platform sources. Dynamically target testing procedures through effective.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 d-flex" data-aos="fade-down">
							<div class="card flex-fill">
								<div class="card-body">
									<div class="choose-img choose-primary">
										<img src="assets/img/icons/bx-user-check.svg" alt="">
									</div>
									<div class="choose-content">
										<h4>Customer Satisfaction</h4>
										<p>Globally user centric method interactive. Seamlessly revolutionize unique portals corporate collaboration.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Why Choose Us -->

		<!-- About us Testimonials -->
		<section class="section about-testimonial testimonials-section">
			<div class="container">
				<!-- Heading title-->
				<div class="section-heading" data-aos="fade-down">
					<h2 class="title text-white">What People say about us? </h2>
					<p class="description text-white">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="about-testimonials testimonial-group mb-0 owl-theme">
					<!-- Carousel Item -->
					<owl-carousel-o [options]="testimonialOptions">
						<ng-container *ngFor="let data of testimonial">
						  <ng-template carouselSlide>
							<div class="testimonial-item d-flex">
							  <div class="card flex-fill">
								<div class="card-body">
								  <div class="quotes-head"></div>
								  <div class="review-box">
									<div class="review-profile">
									  <div class="review-img">
										<img [src]="data.img" class="img-fluid" alt="img" />
									  </div>
									</div>
									<div class="review-details">
									  <h6>{{ data.Name }}</h6>
									  <div class="list-rating">
										<div class="list-rating-star">
										  <i class="fas fa-star filled"></i>
										  <i class="fas fa-star filled"></i>
										  <i class="fas fa-star filled"></i>
										  <i class="fas fa-star filled"></i>
										  <i class="fas fa-star filled"></i>
										</div>
										<p>
										  <span>{{ data.rating }}</span>
										</p>
									  </div>
									</div>
								  </div>
								  <p>
									{{ data.para }}
								  </p>
								</div>
							  </div>
							</div>
						  </ng-template>
						</ng-container>
					  </owl-carousel-o>
					<!-- /Carousel Item  -->
				</div>
			</div>
		</section>
		<!-- About us Testimonials -->

		<!-- FAQ  -->
		<section class="section faq-section bg-light-primary">
			<div class="container">				
				<!-- Heading title-->
				<div class="section-heading" data-aos="fade-down">
					<h2>Frequently Asked Questions </h2>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
				</div>
				<!-- /Heading title -->
				<div class="faq-info">
					<div class="faq-card bg-white" data-aos="fade-down">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqOne" aria-expanded="false">What is about rental car deals?</a>
						</h4>
						<div id="faqOne" class="card-collapse collapse">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>	
					<div class="faq-card bg-white" data-aos="fade-down">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqTwo" aria-expanded="false">In which areas do you operate?</a>
						</h4>
						<div id="faqTwo" class="card-collapse collapse">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="faq-card bg-white" data-aos="fade-down">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqThree" aria-expanded="false">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium?</a>
						</h4>
						<div id="faqThree" class="card-collapse collapse">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>	
					<div class="faq-card bg-white" data-aos="fade-down">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqFour" aria-expanded="false">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia?</a>
						</h4>
						<div id="faqFour" class="card-collapse collapse">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>	
					<div class="faq-card bg-white" data-aos="fade-down">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqFive" aria-expanded="false">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</a>
						</h4>
						<div id="faqFive" class="card-collapse collapse">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>	
					<div class="faq-card bg-white" data-aos="fade-down">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqSix" aria-expanded="false">eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit?</a>
						</h4>
						<div id="faqSix" class="card-collapse collapse">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>	
					<div class="faq-card bg-white" data-aos="fade-down">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqSeven" aria-expanded="false">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod?</a>
						</h4>
						<div id="faqSeven" class="card-collapse collapse">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>													
				</div>		
		    </div>	
		</section>	
		<!-- /FAQ -->

		<!-- Pricing Plan -->
		<section class="pricing-section pricing-page pricing-section-bottom">
			<div class="container">
				<!-- Heading title-->
				<div class="section-heading" data-aos="fade-down">
					<h2>Transparent Pricing For you</h2>
					<p>Choose a package that suits you</p>
				</div>
				<!-- /Heading title -->
									
				<!-- Plan Selected -->
				<div class="plan-selected" data-aos="fade-down">
					<h4>Monthly</h4>
					<div class="status-toggle me-2 ms-2">
						<input id="list-rating_1" class="px-4 check" type="checkbox" checked>
						<label for="list-rating_1" class="px-4 checktoggle checkbox-bg">checkbox</label>
					</div>
					<h4>Annually</h4>
				</div>
				<!-- /Plan Selected -->
				<div class="row">
					<div class="col-lg-3 d-flex col-md-6 col-12" data-aos="fade-down">
						<div class="price-card price-selected flex-fill">
							<div class="price-head">
								<h2>Save more with Good Plans</h2>	
								<p>Choose a plan and get onboard in Minutes, then get $100 with next payment</p>				
							</div>	
							<div class="price-body">
								<img class="img-fluid" src="assets/img/price-plan.png" alt="Price Plan">		
							</div>							
						</div>
				   	</div>
					<div class="col-lg-3 d-flex col-md-6 col-12" data-aos="fade-down">
						<div class="price-card flex-fill">
							<div class="price-head">
								<div class="price-level">
									<h6>Essential</h6>
									<p>For the basics</p>
								</div>
								<h4>$49</h4>	
								<span>Per user per month</span>							
							</div>	
							<div class="price-details">
								<ul>
								 	<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Get Starting message</li>
									<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Min 1 month, extend anytime</li>
									<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Rental car prices include tax</li>
									<li class="price-uncheck"><span><i class="fa-regular fa-circle-xmark"></i></span>Extend or return anytime</li>
									<li class="price-uncheck"><span><i class="fa-regular fa-circle-xmark"></i></span>Doorstep delivery in 2days</li>
									<li class="price-uncheck"><span><i class="fa-regular fa-circle-xmark"></i></span>Car system included free of charge.</li>
									<li class="price-uncheck"><span><i class="fa-regular fa-circle-xmark"></i></span>Min 1 month, extend anytime</li>
								</ul>
								<a [routerLink]="routes.login" class="btn viewdetails-btn">Request a demo</a>							
							</div>							
						</div>
				   	</div>
					<div class="col-lg-3 d-flex col-md-6 col-12" data-aos="fade-down">
						<div class="price-card flex-fill">
						 	<div class="price-head">
							 	<div class="price-level price-level-popular">
								 	<h6>Recommended</h6>
								 	<p>For the Users</p>
							 	</div>
							 	<h4>$95</h4>	
							 	<span>Per user per month</span>							
						 	</div>		
							<div class="price-details">
								<ul>
									<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Get Starting message</li>
									<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Min 1 month, extend anytime</li>
									<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Rental car prices include tax</li>
									<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Extend or return anytime</li>
									<li class="price-uncheck"><span><i class="fa-regular fa-circle-xmark"></i></span>Doorstep delivery in 2days</li>
									<li class="price-uncheck"><span><i class="fa-regular fa-circle-xmark"></i></span>Car system included free of charge.</li>
									<li class="price-uncheck"><span><i class="fa-regular fa-circle-xmark"></i></span>Min 1 month, extend anytime</li>
								</ul>
								<a [routerLink]="routes.listingDetails" class="btn viewdetails-btn btn-popular">Request a demo</a>							
							</div>							
						</div>
					</div>
					<div class="col-lg-3 d-flex col-md-6 col-12" data-aos="fade-down">
						<div class="price-card flex-fill">
							<div class="price-head">
								<div class="price-level">
									<h6>Pro</h6>
										<p>For the Pro</p>
							 		</div>
							 		<h4>$154</h4>	
									<span>Per user per month</span>							
						 		</div>	
						 		<div class="price-details">
							 		<ul>
										<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Get Starting message</li>
										<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Min 1 month, extend anytime</li>
										<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Rental car prices include tax</li>										
										<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Extend or return anytime</li>
										<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Doorstep delivery in 2days</li>
										<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Car system included free of charge.</li>
										<li class="price-check"><span><i class="fa-regular fa-circle-check"></i></span>Min 1 month, extend anytime</li>
							 		</ul>
								<a [routerLink]="routes.listingDetails" class="btn viewdetails-btn">Request a demo</a>						
							</div>							
					 	</div>
					</div>
				</div>

				<!-- App Available -->
				<div class="user-app-group">
					<div class="app-left">
						<img src="assets/img/bg/app-left.png" class="img-fluid" alt="App Available">
					</div>
					<div class="app-right">
						<img src="assets/img/bg/app-right.png" class="img-fluid" alt="App Available">
					</div>
					<div class="row">
						<div class="col-lg-7">
							<div class="userapp-heading">
								<h2 data-aos="fade-down">Dreamsrental User Friendly App Available</h2>
								<p data-aos="fade-down">Appropriately monetize one-to-one interfaces rather than cutting-edge Competently disinte rmediate backward.</p>
								<div class="download-btn">
									<div class="app-avilable" data-aos="fade-down">								
										<a href="javascript:void(0)"><img src="assets/img/play-store.svg" alt="PlayStore"></a>
									</div>
									<div class="app-avilable" data-aos="fade-down">								
										<a href="javascript:void(0)"><img src="assets/img/apple.svg" alt="AppStore"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block">
							<div class="car-holder">
								<img class="app-car img-fluid" src="assets/img/app-car.png" alt="App Available"  data-aos="fade-down">
							</div>
						</div>
					</div>
				</div>
				<!-- /App Available -->

			</div>
		</section>
		<!-- /Pricing Plan -->