<div class="login-wrapper">
  <div class="loginbox">
    <div class="login-auth">
      <div class="login-auth-wrap">
        <div class="sign-group">
          <a [routerLink]="routes.home" class="btn sign-up"
            ><span
              ><i class="feather icon-corner-down-left" aria-hidden="true"></i
            ></span>
            Back To Home</a
          >
        </div>
        <h1>Reset Password</h1>
        <p class="account-subtitle">
          Your new password must be different from previous used passwords.
        </p>
        <form [formGroup]="form" (ngSubmit)="resetpassword()">
          <div class="form-group">
            <label class="form-label"
              >New Password <span class="text-danger">*</span></label
            >
            <div class="pass-group">
              <input
                type="password"
                class="form-control pass-input"
                placeholder=""
                [type]="show_password1 ? 'password' : 'text'"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': f['password'].touched && f['password'].invalid
                }"
              />
              <div
                *ngIf="f['password'].touched && f['password'].invalid"
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    f['password'].errors && f['password'].errors['required']
                  "
                >
                  Password is required.
                </div>
              </div>
              <span
                [ngClass]="
                  show_password1 === true
                    ? 'fas  fa-eye-slash toggle-password'
                    : 'fas fa-eye toggle-password'
                "
                (click)="show_password1 = !show_password1"
              ></span>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label"
              >Confirm Password <span class="text-danger">*</span></label
            >
            <div class="pass-group">
              <input
                class="form-control pass-input"
                placeholder=""
                [type]="show_password2 ? 'password' : 'text'"
                formControlName="confirmpassword"
                [ngClass]="{
                  'is-invalid':
                    f['confirmpassword'].touched && f['confirmpassword'].invalid
                }"
              />
              <div
                *ngIf="
                  f['confirmpassword'].touched && f['confirmpassword'].invalid
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    f['confirmpassword'].errors &&
                    f['confirmpassword'].errors['required']
                  "
                >
                  Confirm Password is required.
                </div>
              </div>
              <span
                [ngClass]="
                  show_password2 === true
                    ? 'fas  fa-eye-slash toggle-password'
                    : 'fas fa-eye toggle-password'
                "
                (click)="show_password2 = !show_password2"
              ></span>
            </div>
          </div>
          <button class="btn btn-outline-light w-100 btn-size" type="submit">
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
