<!-- Footer -->
<footer class="footer">	
    <!-- Footer Top -->	
    <div class="footer-top aos" data-aos="fade-up" >
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">About Company</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void();">Our Company</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Shop Toyota</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrentals USA</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrentals Worldwide</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrentals Racing</a>
                                    </li>	
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrentals Racing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Virtual Auto Show</a>
                                    </li>									
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">Vehicles Type</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">All  Vehicles</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">SUVs</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Trucks</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Cars</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Crossovers</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Electrified Vehicles</a>
                                    </li>	
                                    <li>
                                        <a href="javascript:void(0)">Hybrids</a>
                                    </li>								
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">Quick links</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">My Account</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Champaigns</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrental Dealers</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Deals and Incentive</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Financial Services</a>
                                    </li>	
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrental Insurance</a>
                                    </li>	
                                    <li>
                                        <a href="javascript:void(0)">Dreamsrental Care</a>
                                    </li>								
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-contact footer-widget">
                        <h5 class="footer-title">Contact Info</h5>
                        <div class="footer-contact-info">									
                            <div class="footer-address">											
                                <span><i class="feather icon-phone-call"></i></span>
                                <div class="addr-info">
                                    <a href="tel:+1(888)7601940">(513) 800-2711</a>
                                </div>
                            </div>
                            <div class="footer-address">
                                <span><i class="feather icon-mail"></i></span>
                                <div class="addr-info">
                                    <a href="mailto:rental@pulltail.com">rental@pulltail.com</a>
                                </div>
                            </div>
                            <div class="update-form">
                                <form action="#">
                                    <span><i class="feather icon-mail"></i></span> 
                                    <input type="email" class="form-control" placeholder="Enter You Email Here">
                                    <button type="submit" class="btn btn-subscribe"><span><i class="feather icon-send"></i></span></button>
                                </form>
                            </div>
                        </div>								
                        <div class="footer-social-widget">
                            <h6>Connect with us</h6>
                            <ul class="nav-social">
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-behance fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter fi-icon"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin fi-icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>© 2023 Dreams Rent. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <div class="vistors-details">
                                <ul class="d-flex">											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa.svg" alt="Visa"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/master.svg" alt="Master"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/applegpay.svg" alt="applegpay"></a></li>
                                </ul>										   								
                            </div>
                        </div>
                        <!-- /Copyright Menu -->
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->			
</footer>
<!-- /Footer -->	